body {
    display: flex;
    color: mintcream;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 4.5em;
    color: indianred;
    margin-bottom: 0em;
    margin-top: 0.25em;
    text-shadow: 0px 0px 15px mintcream;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


h3 {
    font-family: 'Arvo', serif;
    font-weight: 400;
    margin-top: 0.5em;
    font-size: 1.5em;
    color: mintcream;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: mintcream;
    cursor: pointer;
}

.MainText {
    align-self: flex-start;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: 100px;
    margin-top: 100px;
}

img {
    float: right;
    margin-top: 0.25em;
    margin-right: 5em;

}


.SubText {
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.SMSNumber {
    color: indianred;
    border: 2px solid mint;
    text-shadow: 0px 0px 15px mintcream;
}







@media screen and (max-width: 1026px) {
    .MainText {
        font-size: smaller;
        width: 50%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    img {
        width: 200px;
    }
}

@media screen and (max-width: 913px) {
    .MainText {
        font-size: large;
        width: 50%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    img {
        width: 200px;
    }
}


@media screen and (max-width: 600px) {
    img {
        display: none;
    }

    .MainText {
        font-size: smaller;
        width: 80%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 541px) {
    .MainText {
        font-size: x-small;
        width: 50%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    img {
        display: inline-block;
        width: 150px;
    }
}


@media screen and (max-width: 376px) {
    img {
        display: none;
    }

    .MainText {
        font-size: smaller;
        width: 90%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}