body {
    display: flex;
    color: mintcream;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 4.5em;
    color: indianred;
    margin-bottom: 0em;
    margin-top: 0.25em;
    text-shadow: 0px 0px 15px mintcream;
    /* text-align: center; */
}

h2 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


h3 {
    font-family: 'Arvo', serif;
    font-weight: 400;
    margin-top: 0.5em;
    font-size: 1.5em;
    /* text-align: center; */
    color: mintcream;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: mintcream;
    cursor: pointer;
}

.MainText {
    align-self: flex-start;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: 100px;
    margin-top: 150px;
}

img {
    float: right;
    margin-top: 0.25em;
}


.SubText {
    font-size: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.SMSNumber {
    color: indianred;
    border: 2px solid mint;
    text-shadow: 0px 0px 15px mintcream;
}