@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');



body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('http://plugin.codeforanchorage.org/img/coldCar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
